<h1>Inventarios</h1>

<!-- A2 importando los componentes y el trabajo es RELLENARLO 
nos tenemos que preguntar para poder funcionar que datos necesita 
primero va anecesitar un titulo para saber si es comida o bebida y sobre todo 
un array-->
<div class="container">
  <div class="izq">
    <!-- A3 titulos  
    para pasarle un input de tipo titulo dentro del componente lista-productos ts
  lo que tenemos que generar es un input A4 -->

  <!-- A6 si en cada una de estas listas le quiero pasar un array al HIJO necesito un 
  Input que reciba ese array nos vamos a ts lista-->
  <!-- A8 pasando los array ...ojo que se le pone corchetes porque lo que 
  se le pasa es una variable... si no pusiera cochetes estaria pasando un string -->
  <!--A14 estas dos listas de profuctos ya me estan permitiendo engancharme a este
  evento productoSeleccionado por lo tanto que se ejecute un metodo por ejemplo on ProductoSeleccionado
  vital importante el $event porque me va arecuperar el evento que se ha seleccionado-->
    <app-lista-productos titulot="Oficina" [productosO]="arrOficina" (productoSeleccionado)="onProductoSeleccionado($event)"></app-lista-productos>
    <app-lista-productos titulot="Acesorios" [productosO]="arrAcceso" (productoSeleccionado)="onProductoSeleccionado($event)"></app-lista-productos>
  </div>

  <div class="der">
    <!--A19 oye tu propiedad arrProductoss la voy a rellenar con los datos que reciba de
    productosSeleccionados luego te lo voy a pasar a (arrProductoss) para que tu iteres
  y hagas lo que tu quieres para visualizar vamos al comanda.html A20 -->
    <app-comanda [arrProductoss]="productosSeleccionados"></app-comanda>
  </div>
</div>